<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<h1> Cars </h1>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th> Brand</th>
      <th> Model</th>
      <th> Year</th>
    </tr>
    <tr th:each="car:${cars}">
      <td th:text="${car.getBrand()}">...</td>
      <td th:text="${car.getModel()}">...</td>
      <td th:text="${car.getYear()}">...</td>
    </tr>
  </table>

<!--  <th:block th:each="msg : ${messages}">-->
<!--    <h1 th:text="${msg}"></h1>-->
<!--  </th:block>-->
</div>

</body>
</html>